@charset "utf-8";
@import "~bulma/bulma";

.spaced
{
	margin-top:3rem;
	margin-bottom:3rem;
}
.bio-box
{
	max-width:860px; margin:5px auto;
}
.lined
{
	border-bottom:1px solid #ccc;
}
.padded
{
	padding:1rem;	
}
.card.short
{
	width:320px;
	display:inline-block;
	margin: 1.5rem;
	margin-left:0;
}

.xlevel
{
	.xlevel-item
	{
		display:inline-block;
		margin:0.5rem 2rem;
		margin-left:0;
	}
}
a.colored-icon
{
	color:#2A8FBD;
}

i.colored-icon
{
	//color:#53777A;
	color:#2A8FBD;
}
a
{
	color:#1693A5;
	&:hover
	{
		color:#CC333F;
	}
}
.title
{
	font-size:1.8rem;
}

.profile-pic
{
	@include until($desktop)
	{
		margin:1rem auto;	
	}
	
	@include from($desktop)
	{
		float:right;
	}
}
